body {
    background-image: url('pimentel_bg.JPG');
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.login-container {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: background 0.3s ease-in-out;
}

.login-container:hover {
    background: rgba(255, 255, 255, 0.9);
}

.login-container h2 {
    color: #333;
}

.login-form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;
}

.form-group input:focus {
    border-color: #4caf50;
}

.form-group button {
    background: linear-gradient(to right, #4caf50, #45a049);
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.form-group button:hover {
    background: linear-gradient(to right, #45a049, #4caf50);
}

.form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.form-options a {
    color: #4caf50;
    text-decoration: none;
    font-weight: bold;
}
